@import '../../../share/styles/layouts/breakpoints';

@import '../styles/bases/colors';
@import '../styles/components/image_round';
@import '../styles/components/button';
@import '../styles/components/vote';
@import '../styles/components/campaign_header';


.container-fluid {
    padding: 1rem;
    box-sizing: border-box;
}

.campaign {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 1.5rem;
    box-sizing: border-box;

    &-body {
        background-color: $color-brand-main;
        border-radius: 5px;
        padding: 2rem 1rem;

        .wrap-title {
            font-size: 1.75rem;
            font-weight: 600;
            color: #fff;

            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }

        .wrap-body {
            display: flex;
            flex-direction: column;

            @include mq($from: tablets) {
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

.card-image {
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;

    @include mq($from: tablets) {
        margin-bottom: 0;
    }

    &-body {
        display: flex;
        justify-content: center;
    }

    &-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .candidate-name {
            font-size: 1.3rem;
            font-weight: 700;
            color: #fff;
        }

        .other-name {
            font-size: 1.3rem;
            font-weight: 700;
            color: $color-brand-primary;
        }

        .leyend-name {
            font-size: 1rem;
            font-weight: 600;
            color: $color-brand-main;
        }
    }
}

.campaign-detail {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 1.5rem;
    box-sizing: border-box;

    @include mq($from: tablets) {
        flex-direction: row;
        justify-content: space-between;
    }

    &-left {
        width: 100%;
        margin-bottom: 2rem;

        @include mq($from: tablets) {
            width: 48%;
            margin-bottom: 0;
        }

        display: flex;
        flex-direction: column;

        .title {
            font-size: 2rem;
            color: $color-brand-main;
            margin-bottom: 1rem;
        }

        .instrucciones {
            color: $color-text-regular;
            margin-bottom: .5rem;
        }

        .chart {
            border: 1px solid $color-border;
            border-radius: 10px;
            margin-bottom: 1rem;

            padding: 1rem;
            box-sizing: border-box;
        }

        .files {
            display: flex;

            a {
                margin-left: .5rem;
            }
        }
    }

    &-right {
        width: 100%;

        @include mq($from: tablets) {
            width: 48%;
        }
    }
}

.community {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;

    &-title {

    }

    &-body {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include mq($from: tablets) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card-option {
            width: 380px;

            .card-body {
                padding: 0 .5rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

.experts {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;

    &-title {

    }

    &-body {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include mq($from: tablets) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        .card-option {
            width: 380px;

            .card-body {
                text-align: center;
                padding: 0 .5rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

.whatsneed {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    // padding: 4rem 5rem;
    box-sizing: border-box;

    &-wrapper {
        border-radius: 10px;
        padding: 2rem;
        box-sizing: border-box;

        background-color: #F6F6F6;

        .whatsneed-title {
            font-size: 2rem;
            color: $color-brand-main;
            text-align: center;
        }

        .whatsneed-body {
            padding: .5rem;

            label {
                color: $color-brand-primary;
                font-weight: 600;
            }

            .form-actions {
                width: 100%;
                display: flex;
                justify-content: center;

                button {
                    width: 80%;
                }
            }

        }
    }
}

.persons {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 1.5rem;
    box-sizing: border-box;

    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &-title {
        font-size: 2rem;
        color: $color-brand-main;
        margin-bottom: 1rem;
    }

    &-body {
        display: flex;
        flex-direction: column;

        @include mq($from: tablets) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}